<?xml version='1.0' encoding='utf-8'?>
<widget id="app.factorculator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Факторкулятор</name>
    <description>Факторкулятор: калькулятор стоимости факторных паков.</description>
    <author email="kingyo.dev@yandex.ru" href="https://github.com/kingyo-dev">
        Kingyo.dev
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="www/icon.png" width="48" height="48" density="ldpi" />
        <icon src="www/icon.png" width="48" height="48" density="mdpi" />
        <icon src="www/icon.png" width="48" height="48" density="hdpi" />
        <icon src="www/icon.png" width="48" height="48" density="xhdpi" />
        <icon src="www/icon.png" width="48" height="48" density="xxhdpi" />
        <icon src="www/icon.png" width="48" height="48" density="xxxhdpi" />
    </platform>    
</widget>
